.page-content-snacks{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 50px;
    justify-content: center;
    align-items: start;
    margin-top: 50px;
    padding: 20px;
    user-select: none;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .page-content-snacks {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 50px;
    }
}

@media (max-width: 480px) {
    .page-content-snacks {
        grid-template-columns: 1fr;
        column-gap: 15px;
        row-gap: 50px;
    }
}
